TELEGRAM_BOT_TOKEN=replace_me
TELEGRAM_ALLOWED_CHAT_ID=replace_me
TELEGRAM_ALLOWED_USER_ID=replace_me
TELEGRAM_READ_ONLY=true

API_MODE=paper
ALLOW_REAL_ORDERS=false
PRODUCTION_TRADING_ENABLED=false

CRYPTO13_MODE=sandbox_live_paper
BINANCE_DATA_MODE=public_only
PRIVATE_API_ENABLED=false
REAL_ORDERS_ENABLED=false
TESTNET_ORDERS_ENABLED=false
